body, html {
  font-family: 'Spectral', serif;
  width: 100%;
  height: 100%;
  margin: 0;
}
img#ani {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
h1 {
  font-weight: 400;
  color: #fff;
}
.fillwindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 1rem
}
.blend {
  mix-blend-mode: difference;
}
.icon-container {
  display: flex;
}
.icon {
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.icon a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  /*line-height: 1;*/
}
.icon a div {
  /*opacity: 1;*/
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.icon a:hover div {
  text-decoration: line-through;
}
.icon img {
  height: 1.5rem;
}
#text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#text {
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
  line-height: 0.65;
}

.rotate {
  transform: rotate(90deg);
}

/* for-phone-only */
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 5rem;
  }
}
/*for-tablet-portrait-up */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 7rem;
  }
}
/*for-tablet-landscape-up*/
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 9rem;
  }
}
/*for-desktop-up*/
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 10rem;
  }
}
/*for-big-desktop-up*/
@media only screen and (min-width: 1800px) {
  h1 {
    font-size: 12rem;
  }
}
